<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      List of Consumer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-searchbar></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-list class="ion-padding-horizontal">
    <ion-item [routerLink]="['/consumer-profile/1']" *ngFor="let user of mockData" lines="full">
      <div class="user-info">
        <div>
          <ion-icon name="person"></ion-icon>
          <span class="user-name"><strong> {{user.last_name}}, {{user.first_name}}</strong></span>
        </div>
        <div>
          <ion-icon name="water"></ion-icon>
          <span> {{user.account_number}}</span>
        </div>
        <div>
          <ion-icon name="pin"></ion-icon>
          <span> {{user.address}}</span>
        </div>
      </div>

    </ion-item>
  </ion-list>
</ion-content>
